body{
  background-color: grey;
}

h1{
  text-align: center;
}

main{
  background-color: beige;
  margin:auto;
  width: 600px;
  height: 200px;
  border-radius: 5px;
  text-align: center;
  position: static;
}

.box{
  width: 20px;
  height: 20px;
  border:1px solid red;
  background-color: grey;
  display: inline-block;
}

.red{
  background-color: red;
}

.prev, .next{
  margin-top: 10px;
}
